<tr>
    <td class="cart_product_img">
        <img src="<%= product.image %>" alt="Product">
    </td>
    <td class="cart_product_desc">
        <h5><%= product.name %></h5>
    </td>
    <td class="price">
        <span><%= product.sale_price %></span>
    </td>
    <td class="qty">
        <div class="qty-btn d-flex">
            <div class="quantity">
                1
            </div>
        </div>
    </td>
</tr>