<div class="cart-table-area section-padding-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="cart-title mt-50">
                    <h2>Carrito de compra</h2>
                </div>

                <div class="cart-table clearfix">
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Nombre</th>
                                <th>Precio</th>
                                <th>Cantidad</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%= render 'product', product: @product %>
                        </tbody>
                    </table>
                </div>
            </div>
            <%= render 'purchase_summary' %>
        </div>
    </div>
</div>
<!-- ##### Main Content Wrapper End ##### -->