<!-- Header Area Start -->
<header class="header-area clearfix">
    <!-- Close Icon -->
    <div class="nav-close">
        <i class="fa fa-close" aria-hidden="true"></i>
    </div>
    <!-- Logo -->
    <div class="logo">
        <%= link_to root_path do %>
            <%= image_tag 'core-img/logo.png' %>
        <% end %>
    </div>
    <!-- Amado Nav -->
    <nav class="amado-nav">
        <ul>
            <li style="display: inline" class="btn active"><%= link_to 'Inicio', root_path %></li>
            <li style="display: inline" class="btn"><%= link_to 'Login', new_user_session_path %></li>
            <li style="display: inline" class="btn"><a class="btn disabled" href="cart.html">Cart</a></li>
            <li style="display: inline" class="btn"><a href="#">Checkout</a></li>
        </ul>
    </nav>
</header>
<!-- Header Area End -->